<section class="intro">
  <div class="wrap wrap--padded">
    <img src="{{ page.image }}" alt="Avatar" class="intro__avatar" />

    <div class="intro__body">
      <div class="intro__body__text">
        <h1 class="intro__heading heading is-close">Sawyer Hollenshead
          <span class="social-icons">
            <a href="https://twitter.com/sawyerh" class="ss-icon social-icon social-icon--twitter">
              twitter
            </a>
            <a href="https://github.com/sawyerh" class="social-icon social-icon--github">
              <img src="/assets/images/github.svg" height="24" alt="GitHub">
            </a>
            <a href="https://open.spotify.com/user/1247662653" class="ss-icon social-icon social-icon--spotify">
              spotify
            </a>
          </span>
        </h1>

        {{ content }}
      </div>

      <nav class="external-nav">
        <a href="https://medium.com/@sawyerh/latest" class="ss-redirect external-nav__link right" target="_blank">Writing</a>
        <a href="http://highlights.sawyerh.com" class="ss-redirect external-nav__link right" target="_blank">Reading</a>
      </nav>
    </div>
  </div>
</section>