$bg_default: #141414;
$bg_dark: #000;
$border_color: #444;

// TYPE
// ========================================================
$text_default: #CBCBCB;
$text_white: #fff;

$font_size_body: 20px;
$font_size_small: 16px;

$font_size_heading: 32px;
$font_size_heading_icon: 24px;

$font_size_subheading: 20px;

// Dimensions
// ========================================================
$w_wrap: 1090px;
$gutter: 45px;

// Breakpoints
// ========================================================
$bp_small_screen: 600px;

// Z-Index
// ========================================================
$z_galaxy: 0;
$z_above_galaxy: 10;