$bg_default: #141414;
$bg_dark: #000;
$border_color: #444;

// TYPE
// ========================================================
$sans_serif: "europa", "Helvetica Neue", sans-serif;

$text_default: #CBCBCB;
$text_white: #fff;
$text_dark: #A2A2A2;

$font_size_body: 20px;
$font_size_body_downsized: 18px;

$font_size_small: 16px;
$font_size_large: 23px;

$font_size_heading: 32px;
$font_size_heading_icon: 24px;

$font_size_subheading: 20px;

// Dimensions
// ========================================================
$w_wrap: 990px;
$gutter: 45px;

$w_project_body: 610px;
$w_project_sidebar: ($w_wrap - $w_project_body) / 2;

$w_project_note_body: 400px;

$h_video_timeline: 5px;

// Breakpoints
// ========================================================
$bp_font_size_body_downsized: 620px;

$bp_inline_floating_icons: 1190px;
$bp_external_nav_stacked: 890px;

$bp_project_header_stacked: 770px;
$bp_project_body_left_align: 995px;

$bp_project_note_stacked: 1165px;

$bp_ad_project_stacked: 745px;

// Z-Index
// ========================================================
$z_galaxy: 0;
$z_above_galaxy: 10;