---
---

@import 'toolbox';
@import 'variables';
@import 'symbolset';

* {
  @include box-sizing(border-box)
}

body{
  -webkit-font-smoothing: antialiased;
  background: $bg_default;
  color: $text_default;
  font-family: $sans_serif;
  font-size: $font_size_body;
  margin: 0;

  @include max-width($bp_font_size_body_downsized){
    font-size: $font_size_body_downsized;
  }
}

::selection{
  background: #fff;
  color: #000;
}

a{
  color: $text_white;

  &:hover{
    opacity: 0.7;
  }
}

p{
  margin: 0 0 1.5em;
  line-height: 1.4;

  &:last-child{
    margin-bottom: 0;
  }
}

button{
  background: none;
  border: 0 none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img, video{
  max-width: 100%;
}

.is-hidden{
  display: none !important;
}

.wrap{
  width: 95%;
  max-width: $w_wrap;
  margin: auto;
}

.wrap--padded {
  padding-bottom: em($gutter * 2);
  margin-bottom: em($gutter * 2);

  @include max-width($bp_font_size_body_downsized){
    padding-bottom: em($gutter * 1.25);
    margin-bottom: em($gutter * 1.25);
  }
}

.wrap--bordered {
  border-bottom: 2px solid $border_color;
}

// TYPE
// ========================================================
.heading{
  font-size: em($font_size_heading);
  font-weight: bold;
  margin: 0 auto 30px;
  line-height: 1.2;
}

.subheading{
  font-size: em($font_size_subheading);
  font-weight: bold;
}

.heading, .subheading{
  color: $text_white;
  position: relative;
  z-index: $z_above_galaxy;

  &.is-close{
    margin-bottom: 5px;
  }
}


// FOOTER
// ========================================================
.primary-footer{
  font-size: em($font_size_small);
  color: #111;
  padding: em($gutter) 0;
  margin-top: em($gutter * 2);
  background: #fff;

  p{
    max-width: 640px;
    line-height: 1.5;
  }

  a{
    color: #000;
  }
}

// Video
// ========================================================
.video__container{
  position: relative;
  padding-top: 9/16 * 100%;
}

.video__play--overlay{
  @include transform("translate3d(-50%, -50%, 0)");
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  z-index: 2;

  @include max-width(640px){
    width: 90px;
    height: 90px;
  }
}

.project__note .video__play--overlay{
  width: 90px;
  height: 90px;
}

.video__play{
  background: url("/assets/images/play.svg") center center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  outline: none;

  &:hover{
    opacity: 0.9;
  }
}

.video__controls{
  padding-left: 35px;
  min-height: 25px;
  position: relative;
  margin-top: 7px;
  padding-top: (25px - $h_video_timeline) / 2;
}

.video__play--control{
  @include vertAlign;
  left: 0;
  width: 25px;
  height: 25px;
}

.video, .video__poster{
  opacity: 0.75;
  transition: 300ms opacity ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__poster {
  margin: 0;
  padding: 0;
  background: center top no-repeat;
  background-size: contain;
  display: none;
}

.video__timeline{
  background: #515151;
  border-radius: $h_video_timeline;
  height: $h_video_timeline;
  position: relative;
  cursor: pointer;
  transition: 250ms all ease;
}

.video__progress{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff;
  border-radius: $h_video_timeline;
  pointer-events: none;
}

.video__keyframe{
  @include vertAlign;
  text-indent: -9999px;
  width: $h_video_timeline + 11;
  height: $h_video_timeline + 11;
  background: $text_dark;
  border: 2px solid $bg_default;
  border-radius: 50%;
  outline: none;

  &:hover{
    background: #fff;
  }
}

.video__keyframe__tooltip{
  @include transform("translateX(-50%)");
  background: #fff;
  font-size: em($font_size_small);
  position: absolute;
  top: 100%;
  margin-left: $h_video_timeline;
  display: none;
  padding: 6px 10px 7px;
  margin-top: 10px;
  color: $bg_default;
  border-radius: 3px;

  &.is-visible{
    display: block;
  }
}

.is-playing{
  .video__play{
    background-image: url("/assets/images/pause.svg");
  }

  .video__play--overlay{
    display: none;
  }

  .video{
    opacity: 1;
  }
}

.is-loading{
  .video__play--overlay{
    display: none;
  }

  .video__container{
    &:before{
      @include transform("translate3d(-50%, -50%, 0)");
      position: absolute;
      left: 50%;
      top: 50%;
      content: '';
      display: block;
      width: 90px;
      height: 90px;
      background: url("/assets/images/loader.gif") center center no-repeat;
      z-index: $z_above_galaxy;
    }
  }
}

// INTRO
// ========================================================
@keyframes showAboveFold {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.intro{
  position: relative;
  padding-top: em($gutter * 2);
  background: #fff;
  color: #111;

  @include max-width($bp_header_mini){
    padding-top: em($gutter * 1.25);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #F2F102, #A900DF 50%, #1F03E5);
  }
}

.intro__avatar{
  animation: showAboveFold 1.5s ease 100ms both;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  vertical-align: bottom;

  @include max-width($bp_header_mini){
    width: 90px;
    height: 90px;
  }
}

.intro__heading {
  color: #000;
}

.intro__body{
  position: relative;
  z-index: $z_above_galaxy;
}

.intro__body__text{
  animation: showAboveFold 1.5s ease 400ms both;
  max-width: 650px;

  a {
    color: #000;
  }

  p{
    font-size: em($font_size_large);
  }
}

.social-icon {
  text-decoration: none;
  font-size: em($font_size_heading_icon, $font_size_heading);
  display: inline-block;
}

a.social-icon--twitter{
  color: #50ABF1;
}

a.social-icon--spotify{
  color: #1ED761;
}

.social-icon--github {
  font-size: 0;
  text-align: center;
}

@include max-width($bp_header_mini){
  .social-icons {
    display: block;
  }

  .social-icon {
    font-size: 18px;

    &:first-of-type{
      margin-left: 0;
    }
  }

  .social-icon--github img {
    height: 18px;
  }
}

.external-nav {
  animation: showAboveFold 1.5s ease 400ms both;
  margin-top: $gutter / 2;
}

.external-nav__link{
  text-decoration: none;
  margin-right: 15px;
  font-size: em($font_size_large);
  color: #000;

  &:after{
    font-size: em($font_size_heading_icon, $font_size_heading);
    margin-left: em(15px, $font_size_heading);
  }
}

@include min-width($bp_external_nav_stacked){
  .external-nav{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
  }

  .external-nav__link{
    display: block;
    font-size: em($font_size_heading);
  }
}

// PROJECTS
// ========================================================
.heading--projects {
  animation: showAboveFold 1.5s ease 400ms both;
}

.project__media{
  width: 100%;
  margin-bottom: em($gutter);
  border-radius: 3px;

  @include max-width($bp_project_header_stacked){
    margin-bottom: 10px;
  }
}

.project__media__wrap .galaxy{
  bottom: $gutter * -1;
}

.project__meta{
  font-size: em($font_size_small);
  color: $text_dark;
  margin: 0 0 em($gutter);
  padding: 0;

  a{
    color: $text_dark;
  }

  dt{
    display: none;
  }

  dd{
    margin: 0 0 3px;
    padding: 0;
  }
}

.project__notes-toggle{
  border-bottom: 2px solid $text_white;
  color: $text_white;
  font-weight: bold;
  font-size: em($font_size_body);
  font-family: $sans_serif;

  &:hover{
    opacity: 0.7;
  }
}

@include min-width($bp_project_header_stacked){
  .project__info{
    padding-left: $w_project_sidebar;
    position: relative;
  }

  .project__header{
    position: absolute;
    top: 0;
    left: 0;
    width: $w_project_sidebar;
    padding-right: 10px;
  }

  .project__body{
    max-width: $w_project_body;
  }
}

@include min-width($bp_project_body_left_align){
  .project__info{
    padding-right: $w_project_sidebar;
  }
}

.project__note{
  @include clearfix;
  padding-top: em($gutter);
  font-size: em($font_size_small);
}

.project__note__title{
  font-size: em($font_size_subheading, $font_size_small);
}

.project__note__body{
  max-width: $w_project_note_body;
  margin: auto;
}

.project__note__media__wrap{
  max-width: $w_wrap - $w_project_note_body;
  margin: 0 auto 20px;
}

@include min-width($bp_project_note_stacked){
  .project__note__body{
    float: left;
    width: perc($w_project_note_body);
  }

  .project__note__media__wrap{
    float: right;
    padding-left: 30px;
    margin-bottom: 0;
    width: 100% - perc($w_project_note_body);
  }
}

// Additional projects
// ========================================================
.ad-projects{
  @include clearfix;
  margin-bottom: em($gutter);
  padding-bottom: em($gutter * 0.5);
}

.ad-project{
  margin: 0 auto 4%;
  font-size: em($font_size_small);
  text-align: center;

  @include min-width($bp_ad_project_stacked){
    width: 48%;
    float: left;

    &:nth-of-type(2n){
      margin-left: 2%;
    }
  }
}

.ad-project__image__wrap{
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;

  &:hover .ad-project__image{
    opacity: 0.5;
  }
}

.ad-project__image{
  opacity: 0.3;
  vertical-align: bottom;
}

.ad-project__title{
  @include vertAlign;
  width: 100%;
  font-weight: 300;
  font-size: em($font_size_heading, $font_size_small);
  text-shadow: 0 1px 3px rgba(#000, 0.5);
  margin: 0;
}

.ad-project__subtitle{
  font-size: em($font_size_small, $font_size_small);
  margin: 0 0 3px;

  @include min-width($bp_ad_project_stacked){
    @include ellipsis;
  }
}

.ad-project__meta{
  color: $text_dark;
}

// Archived projects
// ========================================================
.archived-projects{
  list-style: none;
  margin: 0;
  padding: 0;
}

.archived-project{
  margin: 0 0 8px;
  font-size: em($font_size_small);
}

.archived-project__year{
  display: inline-block;
  margin-right: 5px;
  min-width: 40px;
}

// Writing
// ========================================================
.collection__posts{
  background: #fff;
  color: #444;

  .main{
    margin-top: $gutter;
  }

  h1, h2, h3, a, strong{
    color: #000;
  }

  h1{
    font-size: em(42px);
  }

  h2{
    @extend .heading;
    margin-top: em(45px);

    &:first-child{
      margin-top: 0;
    }
  }

  .wrap{
    max-width: 700px;
  }
}