---
---

@import 'utils/toolbox';
@import 'utils/variables';
@import 'utils/symbolset';

* {
  @include box-sizing(border-box)
}

body{
  -webkit-font-smoothing: antialiased;
  background: $bg_default;
  color: $text_default;
  font-family: $sans_serif;
  font-size: $font_size_body;
  margin: 0;

  @include max-width($bp_font_size_body_downsized){
    font-size: $font_size_body_downsized;
  }
}

::selection{
  background: #fff;
  color: #000;
}

a{
  color: $text_white;

  &:hover{
    opacity: 0.7;
  }
}

p{
  margin: 0 0 1.5em;
  line-height: 1.5;

  &:last-child{
    margin-bottom: 0;
  }
}

button{
  background: none;
  border: 0 none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img, video{
  max-width: 100%;
}

h1, h2, h3, h4, strong {
  font-weight: $font_weight_bold;
}

.is-hidden{
  display: none !important;
}

.wrap{
  width: 95%;
  max-width: $w_wrap;
  margin: auto;
}

.wrap--padded {
  padding-bottom: em($gutter * 2);
  margin-bottom: em($gutter * 2);

  @include max-width($bp_font_size_body_downsized){
    padding-bottom: em($gutter * 1.25);
    margin-bottom: em($gutter * 1.25);
  }
}

.wrap--bordered {
  border-bottom: 2px solid $border_color;
}

// TYPE
// ========================================================
.heading{
  font-size: em($font_size_heading);
  font-weight: $font_weight_bold;
  margin: 0 auto 30px;
  line-height: 1.2;
}

.subheading{
  font-size: em($font_size_subheading);
  font-weight: $font_weight_bold;
}

.heading, .subheading{
  color: $text_white;
  position: relative;
  z-index: $z_above_galaxy;

  &.is-close{
    margin-bottom: 5px;
  }
}

.heading--projects {
  animation: showAboveFold 1.5s ease 400ms both;
}

// FOOTER
// ========================================================
.primary-footer{
  font-size: em($font_size_small);
  color: #111;
  padding: em($gutter) 0;
  margin-top: em($gutter * 2);
  background: #fff;

  p{
    max-width: 640px;
    line-height: 1.5;
  }

  a{
    color: #000;
  }
}

// INTRO
// ========================================================
@keyframes showAboveFold {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.intro{
  position: relative;
  padding-top: em($gutter * 2);
  background: #fff;
  color: #111;

  @include max-width($bp_header_mini){
    padding-top: em($gutter * 1.25);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #F2F102, #A900DF 50%, #1F03E5);
  }
}

.intro__avatar{
  animation: showAboveFold 1.5s ease 100ms both;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  vertical-align: bottom;

  @include max-width($bp_header_mini){
    width: 90px;
    height: 90px;
  }
}

.intro__heading {
  color: #000;
}

.intro__body{
  position: relative;
  z-index: $z_above_galaxy;
}

.intro__body__text{
  animation: showAboveFold 1.5s ease 400ms both;
  max-width: 640px;

  a {
    color: #000;
  }

  p{
    font-size: em($font_size_large);
  }
}

.social-icon {
  text-decoration: none;
  font-size: em($font_size_heading_icon, $font_size_heading);
  display: inline-block;

  &:first-of-type {
    margin-left: 5px
  }
}

a.social-icon--twitter{
  color: #50ABF1;
}

a.social-icon--spotify{
  color: #1ED761;
}

.social-icon--github {
  font-size: 0;
  text-align: center;
}

@include max-width($bp_header_mini){
  .social-icons {
    display: block;
  }

  .social-icon {
    font-size: 18px;

    &:first-of-type{
      margin-left: 0;
    }
  }

  .social-icon--github img {
    height: 18px;
  }
}

.external-nav {
  animation: showAboveFold 1.5s ease 400ms both;
  margin-top: $gutter / 2;
}

.external-nav__link{
  text-decoration: none;
  margin-right: 15px;
  font-size: em($font_size_large);
  color: #000;

  &:after{
    font-size: em($font_size_heading_icon, $font_size_heading);
    margin-left: em(15px, $font_size_heading);
  }
}

@include min-width($bp_external_nav_stacked){
  .external-nav{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
  }

  .external-nav__link{
    display: block;
    font-size: em($font_size_heading);
  }
}

// Archived projects
// ========================================================
.archived-projects{
  list-style: none;
  margin: 0 0 em($gutter * 2);
  padding: 0;
}

.archived-project{
  margin: 0 0 8px;
  font-size: em($font_size_small);
}

.archived-project__year{
  display: inline-block;
  margin-right: 5px;
  min-width: 40px;
}

// Writing
// ========================================================
.collection__posts{
  background: #fff;
  color: #444;

  .main{
    margin-top: $gutter;
  }

  h1, h2, h3, a, strong{
    color: #000;
  }

  h1{
    font-size: em(42px);
  }

  h2{
    @extend .heading;
    margin-top: em(45px);

    &:first-child{
      margin-top: 0;
    }
  }

  .wrap{
    max-width: 700px;
  }
}

@import 'components/additional-projects';
@import 'components/code-project';
@import 'components/project';
@import 'components/video';