@import 'utils/toolbox';
@import 'utils/variables';

.project__media{
  width: 100%;
  margin-bottom: em($gutter);
  border-radius: 3px;

  @include max-width($bp_project_header_stacked){
    margin-bottom: 10px;
  }
}

.project__media__wrap .galaxy{
  bottom: $gutter * -1;
}

.project__meta{
  font-size: em($font_size_small);
  color: $text_dark;
  margin: 0 0 em($gutter);
  padding: 0;

  a{
    color: $text_dark;
  }

  dt{
    display: none;
  }

  dd{
    margin: 0 0 3px;
    padding: 0;
  }
}

.project__notes-toggle{
  border-bottom: 2px solid $text_white;
  color: $text_white;
  font-weight: bold;
  font-size: em($font_size_body);
  font-family: $sans_serif;

  &:hover{
    opacity: 0.7;
  }
}

@include min-width($bp_project_header_stacked){
  .project__info{
    padding-left: $w_project_sidebar;
    position: relative;
  }

  .project__header{
    position: absolute;
    top: 0;
    left: 0;
    width: $w_project_sidebar;
    padding-right: 10px;
  }

  .project__body{
    max-width: $w_project_body;
  }
}

@include min-width($bp_project_body_left_align){
  .project__info{
    padding-right: $w_project_sidebar;
  }
}

.project__note{
  @include clearfix;
  padding-top: em($gutter);
  font-size: em($font_size_small);
}

.project__note__title{
  font-size: em($font_size_subheading, $font_size_small);
}

.project__note__body{
  max-width: $w_project_note_body;
  margin: auto;
}

.project__note__media__wrap{
  max-width: $w_wrap - $w_project_note_body;
  margin: 0 auto 20px;
}

@include min-width($bp_project_note_stacked){
  .project__note__body{
    float: left;
    width: perc($w_project_note_body);
  }

  .project__note__media__wrap{
    float: right;
    padding-left: 30px;
    margin-bottom: 0;
    width: 100% - perc($w_project_note_body);
  }
}