@import 'utils/toolbox';
@import 'utils/variables';

.video__container{
  position: relative;
  padding-top: 9/16 * 100%;
}

.video__play--overlay{
  @include transform("translate3d(-50%, -50%, 0)");
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  z-index: 2;

  @include max-width(640px){
    width: 90px;
    height: 90px;
  }
}

.project__note .video__play--overlay{
  width: 90px;
  height: 90px;
}

.video__play{
  background: url("/assets/images/play.svg") center center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  outline: none;

  &:hover{
    opacity: 0.9;
  }
}

.video__controls{
  padding-left: 35px;
  min-height: 25px;
  position: relative;
  margin-top: 7px;
  padding-top: (25px - $h_video_timeline) / 2;
}

.video__play--control{
  @include vertAlign;
  left: 0;
  width: 25px;
  height: 25px;
}

.video, .video__poster{
  opacity: 0.75;
  transition: 300ms opacity ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__poster {
  margin: 0;
  padding: 0;
  background: center top no-repeat;
  background-size: contain;
  display: none;
}

.video__timeline{
  background: #515151;
  border-radius: $h_video_timeline;
  height: $h_video_timeline;
  position: relative;
  cursor: pointer;
  transition: 250ms all ease;
}

.video__progress{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff;
  border-radius: $h_video_timeline;
  pointer-events: none;
}

.video__keyframe{
  @include vertAlign;
  text-indent: -9999px;
  width: $h_video_timeline + 11;
  height: $h_video_timeline + 11;
  background: $text_dark;
  border: 2px solid $bg_default;
  border-radius: 50%;
  outline: none;

  &:hover{
    background: #fff;
  }
}

.video__keyframe__tooltip{
  @include transform("translateX(-50%)");
  background: #fff;
  font-size: em($font_size_small);
  position: absolute;
  top: 100%;
  margin-left: $h_video_timeline;
  display: none;
  padding: 6px 10px 7px;
  margin-top: 10px;
  color: $bg_default;
  border-radius: 3px;

  &.is-visible{
    display: block;
  }
}

.is-playing{
  .video__play{
    background-image: url("/assets/images/pause.svg");
  }

  .video__play--overlay{
    display: none;
  }

  .video{
    opacity: 1;
  }
}

.is-loading{
  .video__play--overlay{
    display: none;
  }

  .video__container{
    &:before{
      @include transform("translate3d(-50%, -50%, 0)");
      position: absolute;
      left: 50%;
      top: 50%;
      content: '';
      display: block;
      width: 90px;
      height: 90px;
      background: url("/assets/images/loader.gif") center center no-repeat;
      z-index: $z_above_galaxy;
    }
  }
}