---
layout: default
---

<section class="intro galaxy__wrap">
  <canvas class="galaxy galaxy--full" data-colors="{{ page.colors | jsonify | uri_escape }}"></canvas>

  <div class="wrap wrap--bordered is-above-galaxy">
    <img src="{{ page.image }}" alt="Avatar" class="intro__avatar" />

    <div class="intro__body">
      <div class="intro__body__text">
        <h1 class="heading is-close ss-up">Sawyer Hollenshead
          <a href="http://twitter.com/sawyerh" class="ss-icon social-icon--twitter">twitter</a>
          <a href="https://open.spotify.com/user/1247662653" class="ss-icon social-icon--spotify">spotify</a>
        </h1>

        {{ content }}
      </div>

      <nav class="external-nav">
        <a href="https://medium.com/@sawyerh" class="ss-redirect external-nav__link" target="_blank">Writing</a>
        <a href="http://highlights.sawyerh.com" class="ss-redirect external-nav__link" target="_blank">Reading</a>
      </nav>
    </div>
  </div>
</section>

<section class="projects">
  <h1 class="heading ss-down wrap">Selected works from 2007&ndash;{{ site.time | date: "%Y" }}</h1>

  {% assign projects = site.projects | sort: 'date' | reverse %}
  {% for project in projects %}
    {% unless project.section == 'additional' or project.section == 'archive' %}
      <article class="project">
        <div class="galaxy__wrap project__media__wrap">
          <canvas class="galaxy" data-colors="{{ project.colors | jsonify | uri_escape }}"></canvas>

          <div class="wrap is-above-galaxy">
            {% if project.video != '' %}
              {% include video.html html_class="project__media" video=project.video %}
            {% elsif project.image != '' %}
              <img class="project__media" src="{{ project.image }}" alt="{{ project.title }}" />
            {% endif %}
          </div>
        </div>

        <div class="project__inner wrap wrap--bordered">
          <div class="project__info">
            <header class="project__header">
              <h2 class="project__title heading is-close ss-right">{{ project.title }}</h2>
              <dl class="project__meta">
                <dt>Link</dt>
                <dd><a href="{{ project.external_link }}">{{ project.external_link | replace: 'http://', ''}}</a></dd>
                <dt>Dates</dt>
                <dd>{{ project.dates }}</dd>
              </dl>
            </header>

            <div class="project__body">
              {{ project.content }}

              {% if project.notes %}
                <button class="project__notes-toggle" data-original="See more notes on this project">See more notes on this project</button>
              {% endif %}
            </div>
          </div>

          {% if project.notes %}
            <div class="project__notes is-hidden">
              {% for note in project.notes %}
                <div class="project__note">
                  {% if note.video %}
                    <div class="project__note__media__wrap">
                      {% include video.html html_class="project__note__media" video=note.video %}
                    </div>
                  {% endif %}

                  <div class="project__note__body">
                    <h2 class="project__note__title subheading">{{ note.title }}</h2>
                    {{ note.body | markdownify }}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </article>
    {% endunless %}
  {% endfor %}
</section>

<section class="ad-projects wrap wrap--bordered">
  <h1 class="heading ss-down">Additional projects I'm proud of</h1>

  {% assign additional_projects = site.projects | sort: 'date' | where: 'section', 'additional' | reverse %}
  {% for project in additional_projects %}
    <article class="ad-project">
      <a href="{{ project.external_link }}" class="ad-project__image__wrap">
        <img class="ad-project__image" src="{{ project.image }}" alt="{{ project.title }}" />
        <h2 class="ad-project__title">{{ project.title }}</h2>
      </a>

      <h3 class="ad-project__subtitle">{{ project.subtitle }}</h3>
      <div class="ad-project__meta">
        {{ project.dates }}
        {% if project.role and project.role != '' %}
            &bull; Role: {{ project.role }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>

<section class="wrap">
  <h1 class="subheading">Archived projects</h1>

  {% assign archived_projects = site.projects | where: 'section', 'archive' | sort: 'dates' | reverse %}
  <ol class="archived-projects">
    {% for project in archived_projects %}
      <li class="archived-project">
        <span class="archived-project__year">{{ project.dates }}</span>
        <a href="{{ project.external_link }}">{{ project.title }}</a>
      </li>
    {% endfor %}
  </ol>
</section>

<script src="/assets/js/dist/main.js" async></script>