---
layout: default
---

<section class="intro">
  <div class="wrap wrap--padded">
    <img src="{{ page.image }}" alt="Avatar" class="intro__avatar" />

    <div class="intro__body">
      <div class="intro__body__text">
        <h1 class="intro__heading heading is-close">Sawyer Hollenshead
          <span class="social-icons">
            <a href="https://twitter.com/sawyerh" class="ss-icon social-icon social-icon--twitter">twitter</a>
            <a href="https://github.com/sawyerh" class="social-icon social-icon--github">
              <img src="/assets/images/github.svg" height="24" alt="GitHub">
            </a>
            <a href="https://open.spotify.com/user/1247662653" class="ss-icon social-icon social-icon--spotify">spotify</a>
          </span>
        </h1>

        {{ content }}
      </div>

      <nav class="external-nav">
        <a href="https://medium.com/@sawyerh/latest" class="ss-redirect external-nav__link right" target="_blank">Writing</a>
        <a href="http://highlights.sawyerh.com" class="ss-redirect external-nav__link right" target="_blank">Reading</a>
      </nav>
    </div>
  </div>
</section>

<section class="projects">
  <h1 class="heading wrap">Selected works from 2007&ndash;{{ site.time | date: "%Y" }}</h1>

  {% assign projects = site.projects | sort: 'position' %}
  {% for project in projects %}
    {% unless project.section == 'additional' or project.section == 'archive' %}
      <article class="project" id="{{ project.title | slugify }}">
        <div class="project__media__wrap">
          <div class="wrap">
            {% if project.video %}
              {% include video.html html_class="project__media" video=project.video %}
            {% elsif project.image %}
              <img class="project__media" src="{{ project.image }}" alt="{{ project.title }}" />
            {% endif %}
          </div>
        </div>

        <div class="project__inner wrap wrap--padded">
          <div class="project__info">
            <header class="project__header">
              <h2 class="project__title heading is-close">{{ project.title }}</h2>
              <dl class="project__meta">
                <dt>Link</dt>
                <dd><a href="{{ project.external_link }}">{{ project.external_link | replace: 'http://', ''}}</a></dd>
                <dt>Dates</dt>
                <dd>{{ project.dates }}</dd>
              </dl>
            </header>

            <div class="project__body">
              {{ project.content }}
            </div>
          </div>
        </div>
      </article>
    {% endunless %}
  {% endfor %}
</section>

<section class="ad-projects wrap wrap--padded">
  <h1 class="heading">Additional projects I'm proud of</h1>

  {% assign additional_projects = site.projects | sort: 'date' | where: 'section', 'additional' | reverse %}
  {% for project in additional_projects %}
    <article class="ad-project">
      <a href="{{ project.external_link }}" class="ad-project__image__wrap">
        <img class="ad-project__image" src="{{ project.image }}" alt="{{ project.title }}" />
        <h2 class="ad-project__title">{{ project.title }}</h2>
      </a>

      <h3 class="ad-project__subtitle">{{ project.subtitle }}</h3>
      <div class="ad-project__meta">
        {{ project.dates }}
        {% if project.role and project.role != '' %}
            &bull; Role: {{ project.role }}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>

<section class="wrap">
  <h1 class="subheading">Archived projects</h1>

  {% assign archived_projects = site.projects | where: 'section', 'archive' | sort: 'dates' | reverse %}
  <ol class="archived-projects">
    {% for project in archived_projects %}
      <li class="archived-project">
        <span class="archived-project__year">{{ project.dates }}</span>
        <a href="{{ project.external_link }}">{{ project.title }}</a>
      </li>
    {% endfor %}
  </ol>
</section>

<script src="/assets/js/dist/main.js"></script>
